* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: #666;
}

/* reset CSS */
a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  border: none;
  font-family: 'Open Sans', sans-serif;
}

input:hover,
input:focus,
button:hover,
button:focus {
  outline: none;
}

ul,
li {
  list-style: none;
  padding: 0;
}

/* media query */

@media screen and (min-width: 760px) {
  #root {
    margin: 0 20%;
  }
}
